* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.nav-list-items {
  display: inline;
  padding: 0 10px;
}

header,
footer {
  position: fixed;
  margin: 0 auto;
  width: 100vw;
}

header {
  top: 0;
  height: 60px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

footer {
  bottom: 0;
  padding: 10px 20px;
  background-color: #d3d3d3;
}

#time {
  align-self: flex-end;
  padding-right: 30px;
}

.navbar {
  display: flex;
  width: 100%;
  height: 40px;
  justify-content: space-between;
  background-color: #d3d3d3;
  padding: 8px 20px;
}

#add {
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  padding: 0 20px;
}

.section,
.contact,
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.section {
  width: 100vw;
  height: calc(100vh - 60px);
}

form {
  width: 60%;
}

.input-text {
  width: 100%;
  height: 32px;
}

button {
  width: fit-content;
  padding: 3px 8px;
  justify-self: right;
  margin-right: 2px;
  margin-left: auto;
  box-shadow: 2px 2px 5px rgb(0 0 0 / 90%);
  min-width: 60px;
  height: 30px;
}

.books {
  width: 100%;
  display: flex;
  padding: 10px;
  gap: 5px;
  align-items: center;
}

.booklist {
  width: 80%;
  border: 1px solid #fff;
  box-shadow: 2px 2px 5px rgb(0 0 0 / 90%);
}

.booklist > article:nth-child(odd) {
  background-color: #d3d3d3;
}

.contact {
  align-items: flex-start;
}

.contact ul {
  padding-left: 40px;
}